
body {
    background-color: #000000;
}

.window {
    background:linear-gradient(to bottom right, rgba(0, 0, 255, 0.9),#000021);
    color:#ffffff;
    border: 6px ridge #ffffff;
    border-radius: 10px;
}

.top-bar {
    text-align: center;
    height:150px;
}

#stats {
    padding:1%;
}

#game-area {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.label {
    font-size: 2em;
}

.value {
    font-size: 1em;
}

.game-window {
    position: relative;
}

#reset-window {
    position:absolute;
    top:0;
    left:0;
}

/* Cards */
.card {
    display:inline-block;
    position:relative;
    min-width:100px;
    min-height:150px;
    margin: 2% 2%;
    transition:transform 0.5s;
    transform-style: preserve-3d;
    border-radius:10px;
}

.card:hover {
    box-shadow: 0px 0px 12px 5px rgba(0, 255, 255, 0.50);
}

.card img {
    width:100px;
    height:150px;
}
.flip{
    transform: rotateY(180deg);
}

.front, .back {
    position:absolute;
    top:0;
    left:0;
    backface-visibility: hidden;
    border-radius:10px;
    overflow: hidden;
}

.back {
    transform: rotateY(0deg);
    transition:0.2s;
}

.front {
    transform: rotateY(180deg);
}

#logo {
    width:100px;
    height:100px;
    overflow:hidden;
    padding:0;
}

#logo img {
    width:100px;
    height:150px;
    position:relative;
    bottom:25%;
}

.modal-content{
    text-align: center;
    font-size: 3em;
}

.modal-header {
    background-color: #ffffff;
    opacity: 0.8;
}
/* float over flow - parent element is clearfix class
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
*/

.me {
    display:flex;
    align-items: center;
    align-content: center;
}
.me-photo {
    display:inline-block;
    width:150px;
    margin:1% 0 1% 1%;
}

.me-photo img {
    width:150px;
    border-radius:10px;
}

.me-info {
    display:inline-block;
    padding:2% 2%;
}

.me-info-description {
    display:inline-block;
}

a:link, a:visited  {
    color:#ffffff;
    text-decoration:none;
}

a:active {
    color:#00ffff;
    text-decoration:none;
}

a {
    text-decoration: none;
}

.link-portfolio {
    font-size: 2em;
    font-weight: 400;
}