html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #000000;
}

.window {
    background:linear-gradient(to bottom right, rgba(0, 0, 255, 0.9),#000021);
    color:#ffffff;
    border: 6px ridge #ffffff;
    border-radius: 10px;
}

.top-bar {
    text-align: center;
    height:150px;
}

#stats {
    padding:1%;
}

#game-area {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.stat-heading {
    font-size: 2em;
}

.label {
    font-size: 1em;
}

.value {
    font-size: 1em;
}

.game-window {
    position: relative;
}

#reset-window {
    position:absolute;
    top:0;
    left:0;
}

/* Cards */
.card img {
    width:100px;
    height:150px;
}

.card {
    display:inline-block;
    position:relative;
    min-width:100px;
    min-height:150px;
    margin: 2% 0;

    transition:transform 0.5s;
    transform-style: preserve-3d;
}

.flip{
    transform: rotateY(180deg);
}

.front, .back {
    position:absolute;
    top:0;
    left:0;

    backface-visibility: hidden;
}

.back {
    transform: rotateY(0deg);
}

.front {
    transform: rotateY(180deg);
}

#logo {
    width:100px;
    height:100px;
    overflow:hidden;
    padding:0;
}

#logo img {
    width:100px;
    height:150px;
    position:relative;
    bottom:25%;
}

.modal-content{
    text-align: center;
    font-size: 3em;
}

.modal-header {
    background-color: #ffffff;
    opacity: 0.8;
}